* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E5AFA;
    --text-color: #333333;
    --background-color: #1E5AFA;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 5%;
    position: fixed;
    width: 100%;
    background: var(--background-color);
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-right {
    display: flex;
    gap: 1.5rem;
    float: right;

}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
}

.hero {
    display: inline-block;
    
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 8rem 5%;
    
}

.hero-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}

.cta-button {
    padding: 1rem 2rem;
    background: #1E5AFA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
}

.login-button , .signup-button {
    padding: 1rem 2rem;
    background: white;
    color: #1E5AFA;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
}

.menu-btn {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-right{
        display: none;
    }
    
    .menu-btn {
        display: block;
        color: #1E5AFA;
        background-color: white;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }
}