:root {
    --primary-color: #1e5afa;
    --secondary-color: #fafafa;
    --text-color: #333333;

    --bottom-section-padding: 12rem;
    --bottom-section-padding-mobile: 8rem;

    --transition: all 400ms ease;

    --container-width: 81%;
    --container-width-mobile: 90%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    background-color: white;
    line-height: 1.7;
}

.container {
    width: 81%;
    margin: 0 auto;
}

h1 {
    font-size: 6.5rem;
    line-height: 1;
    color: black;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

.lead {
    width: 63%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1.5rem auto 3rem;
    color: #333333;
}

a {
    color: white;
    font-weight: 300;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 1rem 2.3rem;
    background: white;
    color: black;
    font-weight: 500;
    border-radius: 0.4rem;
}

.btn-primary {
    background: black;
    color: white;
    transition: all 300ms ease;
    border: 1px solid transparent;
}

.btn-primary:hover {
    background: white;
    color: black;
    border-color: black;
}

section {
    max-width: 100vw;
    padding-bottom: var(--bottom-section-padding);
}

nav {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #1e5afa;
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-items {
    display: flex;
    gap: 3rem;
}

.nav-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-logo h3 {
    font-size: 1.7rem;
}

.nav-signin-signup {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header {
    background: url("./assets/bg.png") no-repeat top center/100vw;
    max-width: 100vw;
    text-align: center;
    padding-bottom: var(--bottom-section-padding);
}

.header-title {
    padding-top: 12rem;
    color: white;
    height: 400px;
}

header p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

header-image {
    width: 92%;
    margin: 0 auto;
    z-index: 2;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cta a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    font-weight: 400;
    background: black;
    border-radius: 0.7rem;
    padding: 0.8rem 1.6rem;
}

.cta a:hover {
    background: black;
    color: white;
}

.cta .logo {
    width: 2rem;
}

.cta a h4 {
    font-weight: 500;
    font-size: 1.4rem;
}

.header-socials {
    background-color: red;
    position: absolute;
    left: 3rem;
    top: 38%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.header-decorator-1 {
    position: absolute;
}

.header-decorator-2 {
    position: absolute;
    right: 0;
    margin-top: -24rem;
}

.about-title {
    text-align: center;
    margin-bottom: 5rem;
}

.about-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.about-article-title {
    color: black;
    margin-bottom: 1.5rem;
}

.about-article .btn {
    margin-top: 2.4rem;
}

#clients {
    text-align: center;
}

.clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    div {
        background: #f5f5f5;
        display: grid;
        place-items: center;
        height: 8rem;
        padding: 2rem;
        transition: all 300ms ease;
        border-radius: 5%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        img {
            height: 4rem;
            width: auto;
        }
    }

    div:hover {
        background: white;
    }
}

.avatar {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials h1 {
    text-align: center;
}

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background: #f5f5f5;
    padding: 3rem;
    font-size: 0.88rem;
    border: 1px solid transparent;
    border-radius: 5%;
    transition: all 300ms ease;
}

.testimonial:hover {
    background: white;
    border: 1px solid #1e5afa;
    color: #1e5afa;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}

.testimonial-client {
    display: flex;
    gap: 1rem;
}

#faqs h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.faq-container {
    display: flex;
    width: 44%;
    flex-direction: column;
    gap: 1rem;
}

.faq {
    display: flex;
    background: #f5f5f5;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
}

.faq:hover {
    border-radius: var(--primary-color);
    color: var(--primary-color);
}

.faq-icon {
    font-size: 1.2rem;
    font-weight: 200;
}

.faq-question {
    font-size: 1.2rem;
    font-weight: 500;
}

.faq-answer {
    margin-top: 1rem;
    display: none;
}

.faq.open {
    border-colour: var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.faq.open .faq-answer {
    display: block;
}

.downloadApp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.downloadApp-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#downloadApp .cta {
    justify-content: start;
    margin-top: 2rem;
}

.subscribe-container {
    display: flex;
    background-color: #1e5afa;
    color: white;
    align-items: center;
    padding: 4rem;
    height: 20rem;
    border-radius: 2rem;
}

.subscribe-text p {
    margin-top: 1.4rem;
    width: 70%;
}

footer {
    padding: 5rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: #1e5afa;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 5rem;
}

.footer-container > div h4 {
    margin-bottom: 1.6rem;
    color: white;
}

.footer-logo h3 {
    font-size: 1.7rem;
}
.footer-2 p {
    margin: 1rem 0 2rem;
    width: 20rem;
}

.footer-subscribe {
    background: transparent;
    border: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 80%;
}

.footer-subscribe input {
    background: transparent;
    color: white;
    margin-left: 1rem;
}

.footer-subscribe input::placeholder {
    color: #f5f5f5;
}

.footer-subscribe button {
    background: white;
    color: black;
    transition: all 300ms ease;
    width: 3rem;
    height: 100%;
    font-size: 1.2 rem;
}

.footer-subscribe button:hover {
    background: #f5f5f5;
    color: #1e5afa;
    cursor: pointer;
}

footer ul li {
    margin-bottom: 1rem;
}

footer ul li a:hover {
    color: white;
    text-decoration: underline;
}

.footer-4 p {
    margin-bottom: 1.6rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem;
    color: white;
    border-top: 1px solid #f5f5f5;
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-tablet);
    }
    h1 {
        font-size: 4.2rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.9rem;
    }
    .lead {
        width: 72%;
        margin-bottom: 3rem;
    }

    section{
        padding-bottom: var(--bottom-section-padding-mobile);
    }

    nav{
        background: #1e5afa;
    }

    .nav-container{
        position: relative;
        width: 100vw;
    }

    .nav-logo{
        margin-left:2rem;
        position: relative;
    }

    .nav-items{
        position : fixed;
        top: 6rem;
        right : 0;
        background: white;
        height:max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.1);
        flex-direction: column;
        gap: 0;
        z-index: 3;
    }

    .nav-items li{
        width: 100%;
        height: 6rem;
    }

    .nav-items li a{
        
        color: black;
        
    }


}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .lead {
        width: 90%;
    }
    .nav-logo {
        margin-left: 1rem;
    }
    .nav-items li a {
        justify-content: center;
        padding: 0;
    }

    nav button {
        margin-right: 0.7rem;
    }

    .header-title {
        padding-top: 11rem;
    }

    .cta {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header-socials {
        display: none;
    }

    .about-article {
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .about-article:nth-child(2) .about-image {
        grid-row: 1;
    }

    .clients-container {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .testimonial {
        padding: 1.4rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer-1 {
        width: 90%;
    }

    .footer-1 p {
        width: 90%;
        margin: 0 auto 3rem;
    }

    .footer-socials {
        justify-content: center;
    }
}
